<Gosto-mini-header *ngIf="!isMobile"></Gosto-mini-header>
<Gosto-header></Gosto-header>
<router-outlet></router-outlet>
<Gosto-user-menu  *ngIf="isMobile"></Gosto-user-menu>
<Gosto-footer></Gosto-footer>


<Gosto-shopping-cart-popup *ngIf="showShoppingCartPopup$ |async"></Gosto-shopping-cart-popup>
<Gosto-menu-popup *ngIf="showMenuPopup$ | async"></Gosto-menu-popup>
<Gosto-wishlist-popup *ngIf="showWishlistPopup$ | async"></Gosto-wishlist-popup>

<Gosto-scroll-top *ngIf="!isMobile"></Gosto-scroll-top>
