<div class="product__card">
  <div class="img__box">
    <img src="../../../../../../assets/images/products/prod-1.jpg" alt="prod-1">
  </div>
  <div class="info__box">
    <p class="product-title">Apple iPhone 11 Pro Max</p>
    <div class="rate"></div>
    <p class="product-price">$200.00</p>
    <div class="description">
      <ul>
        <li>Universal fit that’s comfortable all day</li>
        <li>Automatically on, connect</li>
        <li>Easy setup for all your Apple devices</li>
      </ul>
    </div>
  </div>
  <button>ADD TO CART</button>
</div>
