@import 'common';

.product__card {
  height: 550px;
  width: 93%;
  margin: 0 auto;
  background: #fff;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .img__box {
    width: 265px;
    height: 265px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }

    .btns {
      display: none;
    }
  }

  .info__box {
    .product-title {
      @include textStyle(16px, 20.8px, #000, 500);
      cursor: pointer;
    }

    .rate {
      display: flex;
      align-items: center;
      padding: 0.2rem 0;

      >div {
        svg {
          width: 15px;
          height: 20px;
          fill: transparent;
        }

        &:is(.selected) {
          svg {
            fill: gold;
          }
        }
      }
    }

    .product-price {
      @include textStyle(16px, 29px, #0A2748, 400);
    }

    .description {
      margin: 0.5rem 0 0 0.7rem;

      ul {
        list-style: none;

        li {
          @include textStyle(13px, 22px, #777777, 400);
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            background: transparent;
            border: 1px solid #0000008a;
            border-radius: 50%;
            left: -10px;
            top: 35%;
          }
        }
      }
    }
  }

  button {
    border: 0;
    outline: none;
    width: 100%;
    padding: 0.5rem 0;

    @include textStyle(14px, 22px, #888, 500);
    border-radius: 20px;
    cursor: pointer;
  }
}

@include DesktopScreen {
  :host {
    .product__card {
      height: 600px;
      gap: 2rem;

      .img__box {
        position: relative;
        cursor: pointer;
        width: 100%;
        overflow: hidden;

        img{
          transition: opacity .5s ease, transform 2s cubic-bezier(0, 0, .44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, .44, 1.18);
          &:hover {
            transform: scale(1.1);
          }
        }

        &:hover{
          .btns {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            position: absolute;
            width: 100%;
            bottom: 20%;
            animation: fadeInUp 0.5s ease-out forwards;
            div {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #fff;
              border-radius: 50%;
              padding: 0.6rem;

              &:hover{
                background: #0071e3;
                color: #fff;
              }

              svg {
                width: 20px;
                height: 20px;
              }

            }
          }
        }

      }

      button {
        margin-top: 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #0071e3;
          color: #fff;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);

  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
