<div class="product__card">
  <div class="img__box">
    <img [src]="'../../../../../../assets/images/products/'+product.imageUrl" [alt]="product.name">
    <div class="btns">
      <div>
        <svg (click)="addToCart(product)"><use href="#shopping-bag-g"></use></svg>
      </div>
      <div>
        <svg (click)="addToWishlist(product)"><use href="#heart-icon-g"></use></svg>
      </div>
      <div>
        <svg><use href="#account-icon-g"></use></svg>
      </div>
    </div>
  </div>
  <div class="info__box">
    <p class="product-title" [routerLink]="['/shop/product',product.id]">{{product.name | maxLength:18}}</p>
    <div class="rate">
      <div *ngFor="let star of [].constructor(5);let i = index;" [ngClass]="{'selected' : product.rating > i }"><svg><use href="#star"></use></svg></div>
    </div>
    <p class="product-price">${{product.price}}</p>
    <div class="description">
      <ul>
        <li *ngFor="let item of product.description">{{item}}</li>
      </ul>
    </div>
  </div>
  <button>ADD TO CART</button>
</div>
