<section class="product__details" *ngIf="product$ |async as product">
  <div class="product_slider">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let img of _album; let i= index">
        <ng-template class="slide" carouselSlide [id]="(i+1).toString()">
            <img [src]="'../../../../../'+img.src" [alt]="img.caption" (click)="openLightbox(i)">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div class="product_info">
      <p class="product__title">{{product.name}}</p>
      <div class="product__price">
        <p class="new">$145.00</p>
        <p>-</p>
        <p class="old">${{product.price}}</p>
      </div>
      <p class="short_description">{{product.short_description}}</p>
      <div class="colors">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p class="stokc">{{product.stock}} in stock</p>
      <div class="add_toCard">
        <form action="">
          <div class="counter">
            <span (click)="decrement()">--</span>
            <div class="val">{{quantity}}</div>
            <span (click)="increment()">+</span>
          </div>
          <button (click)="addToCart(product,$event)">ADD TO CART</button>
        </form>
      </div>
      <div class="cta">
        <div>
          <svg (click)="toggleToWishlist(product)"><use [attr.href]="(isInWishList$ | async) ? '#heart-r' : '#heart-w'"></use></svg>
          <span>ADD TO WISHLIST</span>
        </div>
        <div>
          <svg><use href="#Add_To_Compare"></use></svg>
          <span>ADD TO COMPARE</span>
        </div>
      </div>
      <p class="sku">SKU: <span>ADDF</span></p>
      <div class="categories">
        <p>CATEGORIES:</p>
        @for(cat of product.category;track cat){
          <span>{{cat}}</span>
        }
      </div>
      <div class="tab-menu">
        <div class="tab-header">
          <div [class.active]="activeTab === 1" (click)="selectTab(1)">
            <span>DESCRIPTION</span>
          </div>
          <div [class.active]="activeTab === 2" (click)="selectTab(2)">
            <span>ADDITIONAL</span>
          </div>
          <div [class.active]="activeTab === 3" (click)="selectTab(3)">
            <span>Reviews (0)</span>
          </div>
        </div>
        @if(activeTab === 1){
        <div class="tab-content">
          <p class="title">Products Description</p>
          <p>{{product.long_description}}</p>
          <p class="title">Products BRAND</p>
          <p>Form is an armless modern chair with a minimalistic expression. With a simple and contemporary design Form Chair has a soft and welcoming silhouette and a distinctly residential look. The legs appear almost as if they are growing out of the shell. This gives the design flexibility and makes it possible to vary the frame.</p>
        </div>
        }@else if(activeTab === 2){
        <div class="tab-content">
          <table>
            <tbody>
              <tr>
                <th>Color</th>
                <td>Red,Green</td>
              </tr>
              <tr>
                <th>Size</th>
                <td>S,L,XL</td>
              </tr>
              <tr>
                <th>Brand</th>
                <td>MEMO,LOZANO,Amigo</td>
              </tr>
            </tbody>
          </table>
        </div>
        }@else if(activeTab === 3){
        <div class="tab-content">
          <div class="No_review">
            <p>There are no reviews yet.</p>
            <p>Be the first to review the “Person Dining Set” </p>
          </div>
        </div>
        }@else {
          <p>No Data</p>
        }
      </div>
  </div>
  <div class="recommended">
    <Gosto-recommended-products></Gosto-recommended-products>
  </div>
</section>
