<section class="product__details">
  <div class="product_slider">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let img of _album; let i= index">
        <ng-template class="slide" carouselSlide [id]="(i+1).toString()">
            <img [src]="'../../../../../'+img.src" [alt]="img.caption" (click)="open(i)">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div class="product_info">
      <p class="product__title">Person Dining Set</p>
      <div class="product__price">
        <p class="new">$145.00</p>
        <p>-</p>
        <p class="old">$180.00</p>
      </div>
      <p class="short_description">Unika is a mouth blown series of small, glass pendant lamps, originally designed for the Restaurant Gronbech and Churchill.</p>
      <div class="colors">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p class="stokc">131 in stock</p>
      <div class="add_toCard">
        <form action="">
          <div class="counter">
            <span>--</span>
            <div class="val">5</div>
            <span>+</span>
          </div>
          <button>ADD TO CART</button>
        </form>
      </div>
      <div class="cta">
        <div>
          <svg><use href="#heart-w"></use></svg>
          <span>ADD TO WISHLIST</span>
        </div>
        <div>
          <svg><use href="#Add_To_Compare"></use></svg>
          <span>ADD TO COMPARE</span>
        </div>
      </div>
      <p class="sku">SKU: <span>ADDF</span></p>
      <div class="categories">
        <p>CATEGORIES:</p>
        <span>One</span>
        <span>two</span>
        <span>three</span>
      </div>
      <div class="tab-menu">
        <div class="tab-header">
          <div [class.active]="activeTab === 1" (click)="selectTab(1)">
            <span>DESCRIPTION</span>
          </div>
          <div [class.active]="activeTab === 2" (click)="selectTab(2)">
            <span>ADDITIONAL</span>
          </div>
          <div [class.active]="activeTab === 3" (click)="selectTab(3)">
            <span>Reviews (0)</span>
          </div>
        </div>
        @if(activeTab === 1){
        <div class="tab-content">
          <p class="title">Products Description</p>
          <p>Designed by Puik in 1949 as one of the first models created especially for Carl Hansen & Son, and produced since 1950. The last of a series of chairs wegner designed based on inspiration from antique chinese armchairs.</p>
          <p class="title">Products BRAND</p>
          <p>Form is an armless modern chair with a minimalistic expression. With a simple and contemporary design Form Chair has a soft and welcoming silhouette and a distinctly residential look. The legs appear almost as if they are growing out of the shell. This gives the design flexibility and makes it possible to vary the frame.</p>
        </div>
        }@else if(activeTab === 2){
        <div class="tab-content">
          <table>
            <tbody>
              <tr>
                <th>Color</th>
                <td>Red,Green</td>
              </tr>
              <tr>
                <th>Size</th>
                <td>S,L,XL</td>
              </tr>
              <tr>
                <th>Brand</th>
                <td>MEMO,LOZANO,Amigo</td>
              </tr>
            </tbody>
          </table>
        </div>
        }@else if(activeTab === 3){
        <div class="tab-content">
          <div class="No_review">
            <p>There are no reviews yet.</p>
            <p>Be the first to review the “Person Dining Set” </p>
          </div>
        </div>
        }@else {
          <p>No Data</p>
        }
      </div>
  </div>
  <Gosto-recommended-products></Gosto-recommended-products>
</section>
