<div class="billing__details">
  <p class="title">Billing details</p>
  <form [formGroup]="billingForm">
    <div class="form-field required">
      <label for="">First name</label>
      <input type="text" formControlName="firstName">
    </div>
    <div class="form-field required">
      <label for="">Last name</label>
      <input type="text" formControlName="lastName">
    </div>
    <div class="form-field required">
      <label for="">Phone</label>
      <input type="number" formControlName="phone">
    </div>
    <div class="form-field">
      <label for="">Company name (optional)</label>
      <input type="text" formControlName="companyName">
    </div>
    <div class="form-field country__field required">
      <label for="">Country / Region</label>
      <p-dropdown
      [options]="cities"
      optionLabel="name"
      [(ngModel)]="selectedCity"
      formControlName="country"
      placeholder="Select a Country" />
    </div>
    <div class="form-field required" formGroupName="streetAddress">
      <label for="">Street address </label>
      <input type="text" formControlName="streetNumber">
      <input type="text" formControlName="streetName">
    </div>
    <div class="form-field">
      <label for="">Town / City</label>
      <input type="text" formControlName="city">
    </div>
    <div class="form-field required">
      <label for="">Email</label>
      <input type="email"  formControlName="email">
    </div>
    <div class="form-field">
      <label for="">ZIP Code</label>
      <input type="text" formControlName="postCode">
    </div>
    <label>
      <input type="checkbox" (change)="toggleAccordion($event)" /> Ship to a different address?
    </label>
    <div class="shipping__address">
      <p-accordion [activeIndex]="isChecked ? 0 : -1">
        <p-accordionTab>
          <form [formGroup]="newShippingForm">
            <div class="form-field">
              <input type="text"  formControlName="country" placeholder="Country"/>
            </div>
            <div class="form-field">
              <input type="text"  formControlName="state" placeholder="State"/>
            </div>
            <div class="form-field">
              <input type="text" formControlName="city" placeholder="City"/>
            </div>
            <div class="form-field">
              <input type="text" formControlName="postcode" placeholder="Postcode / ZIP"/>
            </div>
          </form>
        </p-accordionTab>
    </p-accordion>
    </div>
    <div class="form-field">
      <label for="">Order notes (optional)</label>
      <textarea name="" id=""  formControlName="orderNotes"></textarea>
    </div>
  </form>

</div>
