<div class="card">
  <div class="img__box">
    <img src="../../../../../../assets/images/products/test.jpg" alt="">
    <div class="onSale"><span>Sale!</span></div>
  </div>
  <div class="btns">
    <div>
      <svg>
        <use href="#shopping-bag-g"></use>
      </svg>
    </div>
    <div>
      <svg>
        <use href="#heart-icon-g"></use>
      </svg>
    </div>
    <div>
      <svg>
        <use href="#account-icon-g"></use>
      </svg>
    </div>
  </div>
  <p class="title">Light Lantern Geometric</p>
  <div class="price">
    <p class="new">$100</p>
    <p class="old">$150</p>
  </div>
</div>
