@import 'common';

.card {
  width: 100%;
  text-align: center;
  .img__box {
    width: 100%;
    height: 120px;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .onSale {
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #f54949;
      top: 1rem;
      left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @include textStyle(12px, 15px, #fff, 500);

    }
  }


  .btns {
    display: none;
  }


  .title {
    @include textStyle(16px, 20px, #0A2748, 500);
    padding: 0.5rem 0
  }

  .price {
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .new {
      @include textStyle(14px, 26px, #0A2748, 400);
    }

    .old {
      @include textStyle(14px, 26px, gray, 400);
      text-decoration: line-through;
    }
  }
}

@include DesktopScreen {
  :host {
    .card {
      width: 100%;
      position: relative;


      .img__box {
        width: 100%;
        height: 202px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: opacity .5s ease, transform 2s cubic-bezier(0, 0, .44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, .44, 1.18);

          &:hover {
            transform: scale(1.2);
          }
        }

        .onSale {
          width: 45px;
          height: 45px;
        }
      }

      &:hover {
        .btns {
          display: flex;
          justify-content: center;
          gap: 0.5rem;
          position: absolute;
          width: 100%;
          top: 45%;
          transform: translateY(-50%);
          animation: fadeInUp 0.5s ease-out forwards;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            padding: 0.6rem;
            cursor: pointer;

            &:hover {
              background: #0071e3;
              color: #fff;
            }

            svg {
              width: 20px;
              height: 20px;
            }

          }
        }
      }

      .title {
        cursor: pointer;

        &:hover {
          color: #C6452C;
        }
      }
      .price {
        gap: 3rem;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);

  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
