<section class="top-selling">
  <div class="top__section">
    <div class="texts">
      <h2>Top Selling Products</h2>
      <p>Meet our newbies! The latest templates uploaded to the marketplace.</p>
    </div>
    <div class="filter_tags">
      <div class="tag"  *ngFor="let item of [].constructor(6)">
        <span>All Product</span>
      </div>
    </div>
  </div>
  <div class="buttom__section">
    <div class="products">
      <Gosto-selling-product-card></Gosto-selling-product-card>
    </div>

  </div>
</section>
