<div class="cart__totals">
  <p class="title">Cart Totals</p>
  <div class="subtotal__info">
    <p class="text">Subtotal:</p>
    <p class="price">$584</p>
  </div>
  <div class="shipping__info">
    <p class="text">Shipping</p>
    <div>
      <form>
        <div class="form-field">
          <label for="">Flat rate:<span>$10.00</span></label>
          <input type="radio" name="s" id="">
        </div>
        <div class="form-field">
          <label for="">Free shipping</label>
          <input type="radio" name="4" id="">
        </div>
        <div class="form-field">
          <label for="">Local pickup:<span>$10.00</span></label>
          <input type="radio" name="7" id="">
        </div>
      </form>
      <p class="shippingTo"><span>Shipping to</span> to Giza, 12611, Ecuador</p>
    </div>
  </div>
</div>
