<div class="cart__totals">
  <p class="title">Cart Totals</p>
  <div class="subtotal__info">
    <p class="text">Subtotal:</p>
    <p class="price">${{(subtotal$ | async)?.toFixed(2)}}</p>
  </div>
  <div class="shipping__info">
    <p class="text">Shipping</p>
    <div>
      <form [formGroup]="shippingCostForm">
        @for(item of formData;track item.id){
          <div class="form-field">
            <label [for]="item.id">{{item.label}}: <span>${{item.cost == '00:00' ? '0' : item.cost}}</span></label>
            <input type="radio" formControlName="shippingOption" [id]="item.id" [value]="item.value">
          </div>
        }
      </form>
      @if((shippingAddress$ | async)?.city != ''){
        <p class="shippingTo">{{(shippingAddress$ | async)?.city}}, {{(shippingAddress$ | async)?.postcode}}, {{(shippingAddress$ | async)?.country}}</p>
      }@else {
        <p class="no_address">Chose your shipping address</p>
      }
    </div>
  </div>
  <div class="shipping__address">
    <p-accordion>
      <p-accordionTab header="Change Address">
        <form [formGroup]="shippingAddressForm">
          <div class="form-field">
            <input type="text"  formControlName="country" placeholder="Country"/>
          </div>
          <div class="form-field">
            <input type="text"  formControlName="state" placeholder="State"/>
          </div>
          <div class="form-field">
            <input type="text" formControlName="city" placeholder="City"/>
          </div>
          <div class="form-field">
            <input type="text" formControlName="postcode" placeholder="Postcode / ZIP"/>
          </div>
          <button (click)="updateAddress($event)">Update</button>
        </form>
      </p-accordionTab>
  </p-accordion>
  </div>
  <div class="total">
    <p class="title">TOTAL</p>
    <p>${{(total$ | async)?.toFixed(2)}}</p>
  </div>
  <div class="PTcheckout_btn">
    <button [routerLink]="['/checkout']" class="PTcheckout">Proceed To Checkout</button>
  </div>
</div>
