<header>
  <div class="icons__container" *ngIf="isMobile">
    <div (click)="openCart()"><svg><use href="#shopping-bag"></use></svg></div>
  </div>
  <div class="icons__container" *ngIf="!isMobile">
    <div (click)="openCart()"><svg><use href="#shopping-bag"></use></svg></div>
    <div><svg><use href="#heart-icon"></use></svg></div>
    <div><svg><use href="#account-icon"></use></svg></div>
    <form>
      <input type="text" name="" placeholder="search">
    </form>
    <Gosto-language-switcher></Gosto-language-switcher>
  </div>
  <div class="menu__container" *ngIf="!isMobile">
    <ul>
      <li>Home</li>
      <li>Shop</li>
      <li>Blog</li>
      <li>About</li>
      <li>Conatct</li>
    </ul>
  </div>
  <div class="logo">
    <img src="../../../../../assets/images/logo.svg" alt="logo">
  </div>

  <div class="burger__menu" *ngIf="isMobile">
    <svg><use href="#burger-menu"></use></svg>
  </div>
</header>
