<header [ngClass]="{'shop-style':currentUrl==='shop'}">
  <div class="icons__container" *ngIf="isMobile">
    <div (click)="openCart()">
      <span class="counter">{{cartItemCount$ | async}}</span>
      <svg>
        <use href="#shopping-bag"></use>
      </svg>
    </div>
  </div>
  <div class="icons__container" *ngIf="!isMobile">
    <div (click)="openCart()">
      <span class="counter">{{cartItemCount$ | async}}</span>
      <svg>
        <use href="#shopping-bag"></use>
      </svg>
    </div>
    <div (click)="openWishlist()">
      <span class="counter">{{wishListCount$ | async}}</span>
      <svg>
        <use href="#heart-icon"></use>
      </svg>
    </div>
    <div><svg>
        <use href="#account-icon"></use>
      </svg></div>
    <form>
      <input type="text" name="" placeholder="search">
    </form>
    <Gosto-language-switcher></Gosto-language-switcher>
  </div>
  <div class="menu__container" *ngIf="!isMobile">
    <ul>
      <li [routerLink]="'/'">Home</li>
      <li [routerLink]="'/shop'">Shop</li>
      <li [routerLink]="'/blog'">Blog</li>
      <li [routerLink]="'/about'">About</li>
      <li [routerLink]="'/contact'">Contact</li>
    </ul>
  </div>
  <div class="logo" [routerLink]="'/'">
    <img src="../../../../../assets/images/logo.svg" alt="logo">
  </div>

  <div class="burger__menu" *ngIf="isMobile">
    <svg (click)="openMenu()">
      <use href="#burger-menu"></use>
    </svg>
  </div>
</header>
