@import 'common';

header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: transparent;
  position: absolute;
  top: 1%;
  z-index: 100;

  &:is(.shop-style) {
    height: 60px;
    background-color: black;
    top: 0;
  }

  .icons__container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5rem;

    div:not(.search,.search__result__suggestion) {
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 50%;
      background: $color-gray;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }

      span {
        width: 17px;
        height: 17px;
        background: #0071E3;
        border-radius: 50%;
        position: absolute;
        top: -10%;
        right: -10%;
        @include textStyle(13px, 15.6px, #fff, 500);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .menu__container {
    margin-left: 13%;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 2rem;

      li {
        @include textStyle(17px, 15.6px, #fff, 500);
        cursor: pointer;
      }
    }
  }

  .logo {
    width: 90px;
    height: 25px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .burger__menu {
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

@include tabletScreen {
  :host {
    header {
      top: 5%;
      padding: 0.5rem 2.5rem;

      &:is(.shop-style) {
        top: 0;
      }
    }
  }
}
