<div class="card" [attr.data-aos]="item.animateType" data-aos-delay="200"  data-aos-easing="ease-in-out">
<img [src]="'../../../../../../assets/images/banners/'+item.imgUrl" alt="">
  <div class="card__info" [ngClass]="{'wide':type=='wide','even':type=='even','odd':type=='odd'}">
    <div  class="sale"><p>{{item.tag}}</p></div>
    <div class="titles">
      <p>{{item.title}}</p>
      <p>{{item.subtitle}}</p>
    </div>
    <button [routerLink]="'/shop'">{{item.btnLabel}}</button>
  </div>
</div>
