@import 'common';

.cart-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #4f4f4f21;
  position: relative;

  .img__box {
    width: 70px;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info__box {
    display: flex;

    &>div {
      .title {
        @include textStyle(14px, 19px, #0A2748, 400);
        cursor: pointer;

        &:hover {
          color: #C6452C;
        }
      }

      .price {
        @include textStyle(14px, 26px, #4F4F4F, 400);
      }
    }

    svg {
      width: 12px;
      height: 12px;
      position: absolute;
      right: 1%;
      top: 29%;
      filter: opacity(0.4);
      cursor: pointer;
      transition:  all 0.1s ease-in-out;
      &:hover{
        filter: opacity(1);
        transform: scale(1.2);
      }
    }
  }
}


@include DesktopScreen {
  :host{
    .cart-item{
      .info__box{
        svg{
          right:5%;
        }
      }
    }
  }
}
