/* You can add global styles to this file, and also import other style files */
@import './assets/style/general/common.scss';
@import 'ngx-toastr/toastr';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html,body{
  font-family: "Jost", sans-serif;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 20px;
}

// body::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }

// body::-webkit-scrollbar-thumb {
//   background-color: rgb(179, 204, 39);
//   outline: 1px solid slategrey;
// }
