<section class="order__page">
  <p class="title">Order</p>
    <div *ngIf="orderDetails$ | async as orderDetails">
      <div class="top__details">
        <p class="status">Thank you. Your order has been received.</p>
        <div class="details__box">
          <table>
            <thead>
              <th>Order number:</th>
              <th>Date:</th>
              <th>Total:</th>
              <th>Payment method:</th>
            </thead>
            <tbody>
              <tr>
                <td>#{{orderDetails.billingDetails.orderNum}}</td>
                <td>{{orderDetails.billingDetails.date | date: 'MMMM d, y' }}</td>
                <td>${{orderDetails.total + orderDetails.shippingDetails.cost}}</td>
                <td>{{orderDetails.paymentMethod}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bottom__details">
        <p class="title">Order details</p>
        <div class="order__details">
          <table>
            <thead>
              <tr>
                <th>PRODUCT</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Product 1</td>
                <td>$100</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Subtotal</th>
                <td>${{orderDetails.total}}</td>
              </tr>
              <tr>
                <th>Shipping</th>
                <td>${{orderDetails.shippingDetails.cost}}.00 <span>via Flat rate</span></td>
              </tr>
              <tr>
                <th>Payment method:</th>
                <td>{{orderDetails.paymentMethod}}</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td>${{orderDetails.total + orderDetails.shippingDetails.cost}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
</section>
