<section>
  <div id="filter-btn" (click)="openFilter()" [ngClass]="{'open':showFilterPopup$ | async}">
    <svg>
      <use href="#filter-icon"></use>
    </svg>
  </div>
  <div class="shop__header">
    <p class="title">SHOP</p>
    <div class="filter_tags">
      <div class="tag" *ngFor="let tag of tags;let i =index" (click)="selectTag(i)"
        [ngClass]="{'active': i == currentIndex}">
        <span>{{tag}}</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="filter__container">
      <div class="filter" (click)="openFilterDialog()">
        <svg>
          <use href="#filter-icon-w"></use>
        </svg>
        <span>Filter</span>
      </div>
      <div class="views">
        <span>Views:</span>
        <div class="icons">
          <svg *ngFor="let item of views; let i = index" (click)="selectMode(i)"
            [ngClass]="{'active':currentModeIndex == i}">
            <use [attr.href]="'#'+item"></use>
          </svg>
        </div>
      </div>
      <div class="sort">
        <p-dropdown [options]="labels" optionLabel="name"optionValue="code" placeholder="Sort" (onChange)="sort($event)" />
      </div>
    </div>
    <Gosto-filter-dialog *ngIf="showFilterDialog$ | async"></Gosto-filter-dialog>
    @if (sortedProducts$ | async) {
    <div class="products__container" [ngClass]="{
      'two-col':(viewMode$ |async) == 'two-col',
      'three-col':(viewMode$ |async) == 'three-col',
      'four-col':(viewMode$ |async) == 'four-col'}">
      @for (product of (sortedProducts$ | async); track product.id) {
      <Gosto-product-card [product]="product"></Gosto-product-card>
      }
    </div>
    } @else {
    <Gosto-skeleton></Gosto-skeleton>
    }
  </div>
  <Gosto-paginator
  [pageNumber]="pageNumber"
  [pageSize]="pageSize"
  [totalRecords]="totalRecords"
  (pageChange)="onPageChange($event)">
</Gosto-paginator>
</section>

<Gosto-filter-popup *ngIf="showFilterPopup$ | async"></Gosto-filter-popup>
