@import 'common';

section {
  // height: 100vh;
  position: relative;
  padding: 30% 1rem 1rem 1rem;

  .shop__header {
    .title {
      @include textStyle(48px, 62px, #0A2748, 600);
      text-align: center;
    }

    .filter_tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
      margin-top: 1rem;

      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 35px;
        background: #fff;
        border-radius: 20px;
        padding: 0 1rem;
        cursor: pointer;
        border: 1px solid #ebebeb;

        span {
          @include textStyle(14px, 18px, #636E84, 400)
        }

        &:is(.active) {
          background: #0071e3;

          span {
            color: #fff;
          }
        }

      }
    }
  }

  .container {
    padding: 1rem;
    margin: 2rem 0;

    .filter__container {
      display: none;
    }

    .products__container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      gap: 1.5rem;

      ::ng-deep Gosto-product-card {
        width: 43%;
      }
    }
  }

  #filter-btn {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 35px;
    background: #F5F5F5;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    transition: 0.5s all ease-out;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.1);

    svg {
      width: 60%;
      height: 60%;
    }

    &:is(.open) {
      left: 80%
    }
  }
}



@include DesktopScreen {
  :host {
    section {
      padding-top: 5%;

      .shop__header {
        .filter_tags {
          width: 30%;
          margin: 1.5rem auto;
        }
      }

      .container {
        margin: 2rem auto;
        width: 70%;
        position: relative;

        .filter__container {
          display: flex;
          align-items: center;
          width: 100%;
          height: 35px;
          margin: 1rem 0;



          .filter {
            width: fit-content;
            padding: 0 1rem;
            height: 100%;
            background: #c6452c;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 0.5rem;

            svg {
              width: 17px;
              height: 25px;
            }

            span {
              @include textStyle(11px, 20px, #fff, 500);
              text-transform: uppercase;
            }
          }

          .views {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            width: 30%;
            gap: 0.5rem;

            .icons {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              svg {
                width: 20px;
                height: 20px;

                &:nth-child(3),
                &:nth-child(4) {
                  width: 27px;
                  height: 27px;
                }

                cursor: pointer;

                &:is(.active) {
                  filter: brightness(0.3);
                }
              }
            }
          }

          .sort {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: end;

            ::ng-deep p-dropdown {
              width: 40%;

              .p-component {
                width: 100%;
                padding: 0 0.5rem;
              }

              .p-dropdown-label {
                padding: 0.2rem 0.5rem;
              }
            }
          }
        }

        .products__container {
          ::ng-deep Gosto-product-card {
            width: 22%;
          }
        }

        .filter__dialog {
          width: 98%;
          height: 310px;
          background: #fff;
          position: absolute;
          top: 8.5%;
          z-index: 999;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 1rem;
          display: flex;

          form {
            display: flex;
            width: 100%;

            >div {
              width: 20%;
            }

            .filter_by_category ,
            .filter_by_color,
            .filter_by_size,
            .filter_by_brand
            {
              padding: 1rem 0;

              .title {
                @include textStyle(12px, 15.6px, #0A2748, 600);
              }

              .cont_scroll {
                height: 200px;
                overflow-y: scroll;
                margin-top: 1.5rem;
                .custom-input{
                  display: none;
                }
                .custom-label{
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  .choice{
                    position: relative;
                    display: block;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: #fff;
                    outline: 2px solid #c6452c;
                  }

                  &:is(.selected){
                    .choice::before{
                      content: '';
                      width: 12px;
                      height: 12px;
                      position: absolute;
                      border-radius: 50%;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%,-50%);
                      background: #c6452c;
                    }
                  }
                }


                >div {
                  margin: 0.2rem;
                  label {
                    @include textStyle(14px, 35px, #0A2748, 400);
                    margin-left: 0.5rem;
                    cursor: pointer;
                    transition: 0.2s all ease-in-out ;
                    &:hover{
                      color: #c6452c;
                    }
                  }
                }

                &::-webkit-scrollbar {
                  width: 3px;
                  height: 10px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                  background: #f1f1f1;
                  border-radius: 10px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: #c6452c;
                  border-radius: 10px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                  background: #555;
                }
              }
            }

            .filter_by_color,
            .filter_by_size
            {
              padding-left: 2rem;
              .cont_scroll {
                overflow: hidden;
              }
            }

            .filter_by_color{
              .custom-radio{
                display: none;
              }

              .custom-label{
                display: flex;
                align-items: center;
                gap: 0.8rem;
                .color-circle{
                  display: block;
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                }
                &:is(.selected){
                  .color-circle{
                    outline: 2px solid #c6452c;
                  }
                }
              }
            }

            .img{
              top: 0;
              width: 18%;
              position: absolute;
              right: 0;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      #filter-btn {
        display: none;
      }
    }
  }
}
