<section>
  <div id="filter-btn" (click)="openFilter()" [ngClass]="{'open':showFilterPopup$ | async}">
    <svg>
      <use href="#filter-icon"></use>
    </svg>
  </div>
  <div class="shop__header">
    <p class="title">SHOP</p>
    <div class="filter_tags">
      <div class="tag" *ngFor="let tag of tags;let i =index" (click)="select(i)"
        [ngClass]="{'active': i == currentIndex}">
        <span>{{tag}}</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="filter__container">
      <div class="filter" (click)="openFilterDialog()">
        <svg>
          <use href="#filter-icon-w"></use>
        </svg>
        <span>Filter</span>
      </div>
      <div class="views">
        <span>Views:</span>
        <div class="icons">
          <svg *ngFor="let item of views; let i = index" (click)="selectMode(i)"
            [ngClass]="{'active':currentModeIndex == i}">
            <use [attr.href]="'#'+item"></use>
          </svg>
        </div>
      </div>
      <div class="sort">
        <p-dropdown [options]="labels" optionLabel="name" placeholder="Sort" />
      </div>
    </div>
    <div class="filter__dialog" *ngIf="showFilterDialog$ | async" [@fadeInDown]>
      <form action="">
        <div class="filter_by_category">
          <p class="title">PRODUCT CATEGORIES</p>
          <div class="cont_scroll">
            <div *ngFor="let category of tags; let i = index">
              <input type="radio" value="category" class="custom-input">
              <label [for]="category" class="custom-label" (click)="selectOption('category',i)" [ngClass]="{'selected':selectedCategory==i}">
                <span class="choice"></span>
                {{category}}
              </label>
            </div>
          </div>
        </div>
        <div class="filter_by_color">
          <p class="title">FILTER BY COLOR</p>
          <div class="cont_scroll">
          <div *ngFor="let color of colors;let i =index">
            <input type="radio" class="custom-radio" name="color.name" [value]="color.name" [id]="color">
            <label [for]="color" class="custom-label" (click)="selectOption('color',i)" [ngClass]="{'selected':selectedColor == i}">
              <span class="color-circle" [style.backgroundColor]="color.code"></span>
              {{color.name}}
            </label>
          </div>
        </div>
        </div>
        <div class="filter_by_size">
          <p class="title">FILTER BY SIZE</p>
          <div class="cont_scroll">
          <div *ngFor="let size of sizes; let i =index">
            <input type="radio" name="size" value="category" class="custom-input" >
            <label for="size" class="custom-label" (click)="selectOption('size',i)" [ngClass]="{'selected':selectedSize==i}">
              <span class="choice"></span>
              {{size}}
            </label>
          </div>
        </div>
        </div>
        <div class="filter_by_brand">
          <p class="title">FILTER BY BRAND</p>
          <div class="cont_scroll">
          <div *ngFor="let brand of brands; let i =index">
            <input type="radio" name="brand" value="category" class="custom-input" >
            <label for="brand" class="custom-label" (click)="selectOption('brand',i)" [ngClass]="{'selected':selectedBrand==i}">
              <span class="choice"></span>
              {{brand}}
            </label>
          </div>
        </div>
        </div>
        <div class="img">
          <img src="../../../../../assets/images/bkg-filter.png" alt="bkg-filter.png">
        </div>
      </form>
    </div>
    <div class="products__container">
      <Gosto-product-card *ngFor="let item of [].constructor(12)"></Gosto-product-card>
    </div>
  </div>
</section>

<Gosto-filter-popup *ngIf="showFilterPopup$ | async"></Gosto-filter-popup>
