@import 'common';

.container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.863);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 9999;

  .body__box {
    width: 80%;
    height: 100%;
    background: #fff;
    padding: 1rem;
    position: relative;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      padding: 1rem 1rem;

      span {
        @include textStyle(13px, 24px, #0A2748, 600);
      }

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .content {
      margin-top: 1rem;
      height: 55vh;
      overflow-y: scroll;


      &::-webkit-scrollbar {
        width: 3px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #eee;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: #c6452c;
        border-radius: 2px;
        height: 10px;
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: #c6452c #eee;
        }
      }

      .empty__card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        p {
          @include textStyle(16px, 29px, #4F4F4F, 600);
        }

        svg {
          filter: opacity(0.2);
          width: 80%;
          height: auto;
        }

        button {
          border: 0;
          outline: none;
          background: #0071E3;
          width: 70%;
          height: 50px;
          cursor: pointer;
          @include textStyle(12px, 18px, #fff, 600);

        }
      }
    }

    .subtotal {
      position: absolute;
      bottom: 45px;
      width: 90%;
      padding: 1rem 0.5rem 0 0.5rem;
      margin: 1rem auto 0.5rem auto;

      div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 0 0.2rem;

        p:nth-child(1) {
          @include textStyle(16px, 29px, #0A2748, 400);
        }

        p:nth-child(2) {
          @include textStyle(18px, 33px, #0A2748, 600);

        }
      }

      div:nth-child(2) {
        margin: 0.5rem 0;

        button {
          display: block;
          border: 0;
          outline: none;
          padding: 0.5rem 1rem;
          margin: 0.6rem auto;
          width: 100%;
          height: 50px;
          cursor: pointer;
        }

        button:nth-child(1) {
          transition: all 0.3s ease-in-out;
          @include textStyle(12px, 18px, #000, 600);

          &:hover {
            background: #0071E3;
            color: #fff;
          }
        }

        button:nth-child(2) {
          background: #0071E3;
          @include textStyle(12px, 18px, #fff, 600);
        }
      }
    }

    .footer {
      height: 45px;
      width: 100%;
      background: #C6452C;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        @include textStyle(15px, 26px, #FFFFFF, 500);
      }
    }
  }
}

@include tabletScreen {
  :host {
    .container {
      .body__box {
        width: 20%;

        .content {
          height: 60vh;
        }
      }
    }
  }
}
